# SauceDemo Configuration
SAUCEDEMO_BASE_URL=
SAUCEDEMO_STANDARD_USER=
SAUCEDEMO_STANDARD_PASSWORD=

# TradeMe Configuration  
TRADEME_SANDBOX_URL=

# OrangeHRM Configuration
ORANGEHRM_DEMO_URL=
ORANGEHRM_ADMIN_USERNAME=
ORANGEHRM_ADMIN_PASSWORD=